{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "extends": [
        "next/core-web-vitals",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "eslint-config-prettier"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "tsconfigRootDir": ".",
        "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint", "jest"],
    "rules": {
        "jest/no-disabled-tests": "error",
        "jest/no-identical-title": "error",
        "jest/valid-expect": "error",
        "no-console": "error",
        "indent": [
            0,
            4,
            {
                "SwitchCase": 1
            }
        ]
    }
}
