# dependencies
node_modules

# sst
.sst
.sst*
.build

# misc
.DS_Store
*.pyc

# local env files
.env*.local
.env

cdk.context.json

.idea

# playwright
playwright/test-results/
playwright/playwright-report/
/blob-report/
/playwright/.cache/
.env.playwright
playwright/.auth
