@import "../../node_modules/govuk-frontend/govuk/all";
@import "mapbox-gl/dist/mapbox-gl.css";
@import "@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.markerGrey {
  height: 15px;
  width: 15px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.markerBlue {
  height: 15px;
  width: 15px;
  background-color: #278C2B;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}