@import "../../node_modules/govuk-frontend/govuk/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

.app-width-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.app-phase-banner {
  border: none;
}